.about-me{
    border: white;
    padding 10px;
}

.article{
    padding:20px;
    margin-bottom: 20px;
    border: solid 3px white;
    border-radius: 13px;
}
body {
    background: rgba(0, 0, 0, 0.849);
    color: lightgray;
    padding: 20px;
}

.footer{
    margin:0 auto;
    max-width: 1000px;

}



.section-headers{
    color:#468faf;
    background:#03071E;
    border-radius:7px;
}
.main-header{
    color:#bfd200;
    background:#007f5f;
    border-radius:13px;
}
.main-content{
    margin:0 auto;
    max-width: 1000px;
}
.navigation{
    background:#DEB986;
    color: #ed4d6e;
    border-radius: 12px;
    padding:10px;
    margin-right: 15px;
}

.navigation-link{
    color:#6A040F;
    display: inline-block;
    margin-right: 20px;
}
.navigation-link__homepage{
    color:black;
    
}

.my-photo{
    width: 140px;
    height:200px;
    padding:10px;
    border-radius: 10px;
    
}